:root {
	--primary: #090909;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.image-background{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  width: 100vw;
  height: 100vw;  
  display: grid;
  grid-template-columns: 3fr;
  align-items: stretch;
  padding-left: 40%;
  padding-top: 2rem;
  /* justify-content: ; */
  background-image: linear-gradient(to right, rgb(0 0 0 /.3), rgba(63, 32, 32, 0.6)), url("./../public/cruz.jpg"); 
  background-size: cover;
  background-position: center;

  /* object-fit: "hidden"; */
}

.familias-card{
  margin-left: 2.5%;
  padding-top: -4%;
}